body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f4f8;
    background-image: url('Login_back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    width: 700px;
    height: 500px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.image-section {
    flex: 1;
}

.building-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    position: relative;
    z-index: 3;
}

.input-group {
    width: 90%;
    margin-bottom: 15px;
    position: relative;
    z-index: 3;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #014bd4;
    position: relative;
    z-index: 3;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #2360bb;
    border-radius: 5px;
    transition: border-color 0.8 ease;
    position: relative;
    z-index: 3;
}

input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.login-button {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 37px;
    position: relative;
    z-index: 3;
}

.login-button:hover {
    background-color: #0056b3;
}

.as_guest {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #007bff;
    text-align: right;
    text-decoration: none;
    position: relative;
    z-index: 3;
}

.as_guest:hover {
    text-decoration: underline;
}
